<div class="card" style="margin-top: 50px;">
    <div class="card-header text-white bg-secondary">
        <span>
            Ticket List
        </span>
        <a [routerLink]="['/ticket/form','new']" class="btn btn-sm btn-success float-right">
            <i class="fa fa-plus mr-1" aria-hidden="true"></i>
            Add Ticket
        </a>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Created On</th>
                    <!-- <th scope="col">&nbsp;</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <th scope="row">{{ticket.id}}</th>
                    <td>{{ticket.firstName}} {{ticket.lastName}}</td>
                    <td>{{ticket.email}}</td>
                    <td>{{ticket.subject}}</td>
                    <td>{{ticket.createdOn | date:'short'}}</td>
                    <!-- <td>
                        <a>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </td> -->
                </tr>
            </tbody>
        </table>

        <app-pagination [total]="total" [pageIndex]="pageIndex" [pageSize]="pageSize"
            (onPageSizeChanged)="onPageSizeChanged($event)" (onPageChanged)="onPageChanged($event)"></app-pagination>
    </div>
</div>